{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

<style>
        body{
            margin: 0;
            font-family: sans-serif;
            font-size: 14px;
        }

p{
  font-size: 30px;
  font-family: "Book Antiqua";
  color:#D5DBDB;
  text-align:left;
  background: URL(img/china.png);
  background-size: cover;
  text-shadow: 2px 2px 1px #000;
}

h1{
  font-size: 100px;
  text-shadow: 4px 4px 2px #000;
  font-family: "Broadway";
}

h2{
  font-size: 40px;
    font-family: "Broadway";
  text-shadow: 2px 2px 1px #000;
color: #FBFCFC;
}

h3{
  font-size: 40px;
    font-family: "Broadway";
  text-shadow: 2px 2px 1px #000;
color: #FBFCFC;
}

        .menu-wrapper ul{
            padding: 0;
            list-style: none;

        }

        .principal-menu > li {
            display: inline-block;
        }

        .principal-menu > li > a{
            display: block;
            padding: 10px 5px;
            width: 90px;
        }

        li ul{
            position: absolute;
            display: none;
        }

        .sub-menu a {
            display: block;
            padding: 10px 5px;
            width: 130px;
        }

        li:hover ul{
            display: block;
        }

        .menu-wrapper, li ul{
            background: #333;
        }

        .principal-menu {
            width: 412px;
            margin: 0 auto;
        }

        .principal-menu a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        .principal-menu li:hover{
            background: #f75e25;
            text-shadow: 0 0 2px #000;
        }

      {
